<app-header [title]="headerTitle" *ngIf="isHeaderVisible" xmlns="http://www.w3.org/1999/html"> </app-header>
<app-header *ngIf="false"> </app-header>
<!-- <app-footer></app-footer> -->
<mat-card> Simple card is Here </mat-card>
<button mat-raised-button color="primary">Primary</button>

<form *ngIf="formGroup" [formGroup]="formGroup">
  <p>
    <!-- <mat-form-field appearance="legacy"> -->
    <mat-form-field>
      <mat-label> Name </mat-label>
      <!-- <input [(ngModel)]="name" name="name" matInput placeholder="Name"> -->
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
  </p>
  <p>
    <!-- <mat-form-field appearance="standard"> -->
    <mat-form-field>
      <mat-label> LastName </mat-label>
      <!-- <input [(ngModel)]="lastname" name="lastname" matInput placeholder="LastName"> -->
      <input formControlName="lastname" matInput placeholder="LastName">
    </mat-form-field>
  </p>
  <!-- <p>
    Name: <input type="text" >
  </p> -->
  <button (click)="onFormSubmit()"> Submit </button>

</form>
<button (click)="goToProfileAndLogCabbage()"> Go To Profile </button> <br/>
<!-- <button routerLink="/profile"> Go To Profile </button> <br/>  -->
<!-- <a routerLink="/profile"> Go To Profile Again! </a> <br />  -->

{{capitalText | uppercase}} <br/>
{{capitalText | lowercase}} <br />
{{capitalText | titlecase}} <br />
{{ isoDate | date }} <br />
{{ isoDate | date : 'dd MMM YYY'}} <br />
{{ isoDate | date : 'd MM YYYY'}} <br />
The Price Of This Course Is: {{ amount | currency: 'EUR' }} <br />
The Number Is: {{ num | number }} <br />
The Number Is: {{ num | number : '1.0-0'}} <br />
The Number Is: {{ num | number : '2.0-3'}} <br />
The Number Is: {{ num | number : '3.0-2'}} <br />
{{ birthday | birthday }}


<app-footer title="This is Footer"></app-footer>
